@import url("../font/search.css");
@import url("../font/play.css");
@import url("../font/menu.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@font-face {
  font-family: "PrincessSofia";
  src: url("../font/PrincessSofia-Regular.ttf");
}

@font-face {
  font-family: "PrincessSofiaBold";
  src: url("../font/Nunito-Bold.ttf");
}

@font-face {
  font-family: "koodak";
  src: url("../font/Far_KoodkBd.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../font/Nunito-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("../font/Nunito-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}

:root {
  --red: #df3e3e;
  --darkBlue: rgb(20, 26, 46);
  --lightBlue: rgb(34, 200, 206);
  --white: rgb(245, 245, 245);
  --black: rgb(32, 32, 32);
}

/* menu burger list */

.menu-burger {
  width: 100%;
  display: none;
  transition: all 1s ease-in-out;
}

.menu-burger-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu-burger-item {
  border-bottom: 1px solid #f3f3f3;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
}

.menu-burger-item:hover .menu-btn {
  color: var(--lightBlue);
}

/* -------------- */

/* search field */

.search-field {
  display: none;
  width: 100%;
}

.search-field form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.field-header-search {
  width: 60%;
  padding: 13px 20px;
  outline: none;
  border: 1px solid #df3e3e7e;
  border-radius: 20px;
  color: var(--darkBlue);
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
}

.submit-header-search {
  color: #fff;
  background-color: var(--red);
  padding: 13px;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.field-header-search:hover {
  border: 1px solid rgba(34, 200, 206, 0.5);
}

.field-header-search:focus {
  border: 1px solid rgba(34, 200, 206, 0.5);
}

.search-field form:hover .submit-header-search {
  background-color: var(--lightBlue) !important;
}

.submit-header-search:hover {
  background-color: var(--lightBlue);
}

.search-field form:hover .field-header-search {
  border: 1px solid rgba(34, 200, 206, 0.5) !important;
}

/* ------------ */

.show {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

::selection {
  background-color: rgba(34, 200, 206, 0.175);
  opacity: 40%;
  color: var(--darkBlue);
}

.container {
  width: 100%;
  max-width: 1519.59px;

  margin: 0 auto;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  font-family: "SemiBold";
}

/* header css */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-header {
  width: 150px;
  cursor: pointer;
  padding: 26px;
  transition: all 0.5s ease-in-out;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu-btn {
  background-color: #fff;
  appearance: none;
  border: none;
  font-size: 15px;
  font-weight: 510;
  transition: all 0.4s ease;
}

.menu-btn:hover {
  color: var(--red);
  cursor: pointer;
}

.menu-item {
  padding: 33px 30px;
}

.header-logo {
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-logo {
  background-color: var(--red);
  color: var(--white);
  padding: 38px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* hover jadid ba selector */

.search-logo:hover {
  background-color: var(--lightBlue);
}

.search-logo:hover .gg-search {
  background-color: var(--lightBlue);
  transform: rotate(-270deg);
}

/* ------------------------------------- */

.search-logo:active {
  background-color: var(--darkBlue);
}

.menu-logo {
  background-color: var(--lightBlue);
  color: var(--darkBlue);
  padding: 38px;
  cursor: pointer;
  display: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

/* hover jadid ba selector */

.menu-logo:hover .gg-menu-motion::before {
  box-shadow: 4px -6px 0, 8px -12px 0;
}

.menu-logo:hover {
  background-color: var(--red);
}

/* ------------------------------------- */

.menu-logo:active {
  background-color: var(--darkBlue);
}

/* footer */

.footer {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  flex: 1;
  z-index: 1;
  margin-top: 10px;
}

.footer-logo {
  width: 170px;
  margin-bottom: 10px;
}

.footer-content {
  color: var(--white);
}

.footer-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 10px;
}

.footer-item {
  font-size: 10px;
  color: rgb(175, 175, 175);
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.footer-item:hover {
  color: var(--red);
}

.footer-text {
  color: rgba(214, 214, 214, 0.637);
  font-size: 13px;
  line-height: 20px;
}

/* main panel */

.panel-container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* panel head text */

.panel-head {
  height: 400px;
  margin: 100px 0;
  width: 1400px;
}

.panel-box {
  margin-bottom: 70px;
  width: 1300px;
}

/* personal panel */
.personal-panel-box {
  padding: 20px;
  border-top: 1px solid var(--darkBlue);
}

/* traveled panel */
.traveled-panel-box {
  padding: 20px;
  border-top: 1px solid var(--darkBlue);
}

/* security panel */
.security-panel-box {
  padding: 20px;
  border-top: 1px solid var(--darkBlue);
}
.panel-container > h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: "Nunito";
}

/* title */

.panel-title {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.panel-title > h3 {
  font-size: 80px;
  font-family: "Nunito";
}
.panel-title > p {
  font-family: "koodak";
  margin-top: 50px;
  font-size: 30px;
}
.panel-title > h3 > span {
  color: var(--lightBlue);
}

/* personal inputs */
.personal-inp-box {
  display: flex;
  flex-direction: row;
}

.personal-btn {
  border: none;
  outline: none;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid var(--darkBlue);
  padding: 20px;
  cursor: pointer;
}
.travel-btn {
  border: none;
  outline: none;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid var(--lightBlue);
  padding: 20px;
  cursor: pointer;
}
.security-btn {
  border: none;
  outline: none;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid var(--red);
  padding: 20px;
  cursor: pointer;
}

.personal-input {
  border: none;
  border-bottom: 1px solid rgba(214, 214, 214, 0.637);
  outline: none;
  margin: 0 30px;
  font-size: 24px;
  font-family: "PrincessSofiaBold";
  padding: 10px 5px;
}
.inp-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inp-box > p {
  font-size: 28px;
  font-family: "Nunito";
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  justify-content: center;
  padding: 20px;
  column-gap: 190px;
  row-gap: 40px;
}
.security-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  column-gap: 130px;
  row-gap: 40px;
}
.personal-btn > .gg-pen {
  color: var(--darkBlue);
}
.security-btn > .gg-pen {
  color: var(--red);
}
.travel-btn > .gg-pen {
  color: var(--lightBlue);
}
.personal-btn:hover .gg-personal {
  transform: rotate(0deg);
  transform: scale(1.5);
}
.travel-btn:hover .gg-travel {
  transform: rotate(0deg);
  transform: scale(1.5);
}
.security-btn:hover .gg-security {
  transform: rotate(0deg);
  transform: scale(1.5);
}
.submit-personal {
  background-color: rgba(20, 26, 46, 0.1);
}
.submit-travel {
  background-color: rgba(34, 200, 206, 0.2);
}
.submit-security {
  background-color: #df3e3e30;
}
.submit-personal:hover {
  background-color: rgba(20, 26, 46, 0.3);
}
.submit-travel:hover {
  background-color: rgba(34, 200, 206, 0.4);
}
.submit-security:hover {
  background-color: #df3e3e56;
}
.submit-personal:active {
  background-color: rgb(20, 26, 46);
  color: #ffffff;
}
.submit-travel:active {
  background-color: rgb(20, 26, 46);
  color: #ffffff;
}
.submit-security:active {
  background-color: rgb(20, 26, 46);
  color: #ffffff;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.submit-btn{
  padding: 20px 50px;
  border: none;
  font-size: 28px;
  font-family: "Nunito";
  border-radius: 7px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.travel-grid-container {
  display: grid;
  text-align: center;
  padding: 20px;
  column-gap: 120px;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  grid-template-areas:
  'header header header header'
  'menu menu main main '
  'right right footer footer ';
}
.item1 { grid-area: header;}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.inp-loc{
  width: 850px;
}