@import url("../font/search.css");
@import url("../font/play.css");
@import url("../font/menu.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@font-face {
  font-family: "PrincessSofia";
  src: url("../font/PrincessSofia-Regular.ttf");
}

@font-face {
  font-family: "PrincessSofiaBold";
  src: url("../font/Nunito-Bold.ttf");
}
@font-face {
  font-family: "koodak";
  src: url("../font/Far_KoodkBd.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../font/Nunito-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "SemiBold";
  src: url("../font/Nunito-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}

:root {
  --red: #df3e3e;
  --darkBlue: rgb(20, 26, 46);
  --lightBlue: rgb(34, 200, 206);
  --white: rgb(245, 245, 245);
  --black: rgb(32, 32, 32);
}

/* menu burger list */

.menu-burger {
  width: 100%;
  display: none;
  transition: all 1s ease-in-out;
}

.menu-burger-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu-burger-item {
  border-bottom: 1px solid #f3f3f3;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
}

.menu-burger-item:hover .menu-btn {
  color: var(--lightBlue);
}

/* -------------- */

/* search field */

.search-field {
  display: none;
  width: 100%;
}

.search-field form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.field-header-search {
  width: 60%;
  padding: 13px 20px;
  outline: none;
  border: 1px solid #df3e3e7e;
  border-radius: 20px;
  color: var(--darkBlue);
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
}

.submit-header-search {
  color: #fff;
  background-color: var(--red);
  padding: 13px;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.field-header-search:hover {
  border: 1px solid rgba(34, 200, 206, 0.5);
}

.field-header-search:focus {
  border: 1px solid rgba(34, 200, 206, 0.5);
}

.search-field form:hover .submit-header-search {
  background-color: var(--lightBlue) !important;
}

.submit-header-search:hover {
  background-color: var(--lightBlue);
}

.search-field form:hover .field-header-search {
  border: 1px solid rgba(34, 200, 206, 0.5) !important;
}

/* ------------ */

.show {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

::selection {
  background-color: rgba(34, 200, 206, 0.175);
  opacity: 40%;
  color: var(--darkBlue);
}

.container {
  width: 100%;
  max-width: 1519.59px;

  margin: 0 auto;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  font-family: "SemiBold";
}

/* header css */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.logo-header {
  width: 150px;
  cursor: pointer;
  padding: 26px;
  transition: all 0.5s ease-in-out;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu-btn {
  background-color: #fff;
  appearance: none;
  border: none;
  font-size: 15px;
  font-weight: 510;
  transition: all 0.4s ease;
}

.menu-btn:hover {
  color: var(--red);
  cursor: pointer;
}

.menu-item {
  padding: 33px 30px;
}

.header-logo {
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-logo {
  background-color: var(--red);
  color: var(--white);
  padding: 38px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* hover jadid ba selector */

.search-logo:hover {
  background-color: var(--lightBlue);
}

.search-logo:hover .gg-search {
  background-color: var(--lightBlue);
  transform: rotate(-270deg);
}

/* ------------------------------------- */

.search-logo:active {
  background-color: var(--darkBlue);
}

.menu-logo {
  background-color: var(--lightBlue);
  color: var(--darkBlue);
  padding: 38px;
  cursor: pointer;
  display: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

/* hover jadid ba selector */

.menu-logo:hover .gg-menu-motion::before {
  box-shadow: 4px -6px 0, 8px -12px 0;
}

.menu-logo:hover {
  background-color: var(--red);
}

/* ------------------------------------- */

.menu-logo:active {
  background-color: var(--darkBlue);
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  flex: 1;
  z-index: 1;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 10px;
}
.background-footer {
  background-color: var(--darkBlue);
}
.footer-logo {
  width: 170px;
  margin-bottom: 10px;
}

.footer-content {
  color: var(--white);
}

.footer-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 10px;
}

.footer-item {
  font-size: 10px;
  color: rgb(175, 175, 175);
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.footer-item:hover {
  color: var(--red);
}

.footer-text {
  color: rgba(214, 214, 214, 0.637);
  font-size: 13px;
  line-height: 20px;
}

/* ask questions part */

.ques-box {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.ques-box > h2 {
  text-align: center;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 40px;
  margin-top: 35px;
}
.ques-box > p {
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 20px;
  margin-top: 35px;
  color: rgba(105, 105, 105, 1);
  max-width: 893px;
  margin-bottom: 49px;
}

.comment-img-info {
  width: 279.52px;
  height: 238.07px;
  position: relative;
}
.circle {
  position: absolute;
  border-radius: 100%;
  background-color: rgba(194, 194, 194, 1);
}
.cir1 {
  width: 49.16px;
  height: 49.16px;
  top: 8.67px;
  right: 65.54px;
}
.cir2 {
  width: 57.83px;
  height: 57.83px;
  right: 7.71px;
  bottom: 8.67px;
}
.cir3 {
  width: 49.16px;
  height: 49.16px;
  bottom: 88.67px;
  right: 238.07px;
}
.comment-img-info > img {
  width: 161px;
  height: 161px;
  border-radius: 17px;
  z-index: 1000;
  position: absolute;
  top: 30px;
  right: 55px;
}

.white-circle {
  width: 4.5rem;
  height: 2rem;
  background-color: #fff;
}
.w-circle-1 {
  margin-top: -0.5rem;
  border-radius: 0 0 2rem 2rem;
}
.w-circle-2 {
  margin-bottom: -0.5rem;
  border-radius: 2rem 2rem 0 0;
}
.line-between {
  border: 2px dashed rgba(208, 208, 208, 1);
  height: 100%;
  width: 0;
}
.comment-line-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.comment-origin {
  display: flex;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 17px;
  width: 1200px;
  justify-content: space-between;
  margin-bottom: 21.58px;
}
.comment-text {
  padding-top: 22.17px;
  padding-left: 34.7px;
  padding-bottom: 12.42px;
}
.last-name {
  position: absolute;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 26px;
  bottom: 7.42px;
  right: 83px;
}

.first-name {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 26px;
}
.comment-discrption {
  color: rgba(155, 155, 155, 1);
  font-family: "Nunito";
  font-weight: 700;
  font-size: 20px;
  margin-top: 31px;
  max-width: 608px;
}
.options-comment {
  margin-top: 24px;
  display: flex;
}
.last-part-comment {
  display: flex;
}
.options-comment > form > input[type="text"] {
  width: 537px;
  padding: 9px 15px;
  border-radius: 13px;
  outline: none;
  border: 1px solid rgba(105, 105, 105, 1);
  font-family: "Nunito";
  font-weight: 700;
  font-size: 15px;
}
.options-comment > form > input[type="submit"] {
  padding: 9px 15px;
  background-color: rgba(105, 105, 105, 1);
  outline: none;
  color: #fff;
  border-radius: 13px;
  width: 125px;
  height: 45px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 17px;
  margin: 0 7px;
}
.options-comment > button {
  padding: 9px 15px;
  background-color: transparent;
  border: 1px solid rgba(105, 105, 105, 1);
  border-radius: 13px;
  color: rgba(105, 105, 105, 1);
  height: 45px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 17px;
}
.sub-comment {
  margin-bottom: 21.58px;
}
