@import url("../font/search.css");
@import url("../font/play.css");
@import url("../font/menu.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@font-face {
  font-family: "PrincessSofia";
  src: url("../font/PrincessSofia-Regular.ttf");
}
@font-face {
  font-family: "PrincessSofiaBold";
  src: url("../font/Nunito-Bold.ttf");
}
@font-face {
  font-family: "koodak";
  src: url("../font/Far_KoodkBd.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../font/Nunito-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "SemiBold";
  src: url("../font/Nunito-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}

:root {
  --red: #df3e3e;
  --darkBlue: rgb(20, 26, 46);
  --lightBlue: rgb(34, 200, 206);
  --white: rgb(245, 245, 245);
  --black: rgb(32, 32, 32);
}

/* menu burger list */

.menu-burger {
  width: 100%;
  display: none;
  transition: all 1s ease-in-out;
}

.menu-burger-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu-burger-item {
  border-bottom: 1px solid #f3f3f3;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
}

.menu-burger-item:hover .menu-btn {
  color: var(--lightBlue);
}

/* -------------- */

/* search field */

.search-field {
  display: none;
  width: 100%;
}

.search-field form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.field-header-search {
  width: 60%;
  padding: 13px 20px;
  outline: none;
  border: 1px solid #df3e3e7e;
  border-radius: 20px;
  color: var(--darkBlue);
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
}

.submit-header-search {
  color: #fff;
  background-color: var(--red);
  padding: 13px;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.field-header-search:hover {
  border: 1px solid rgba(34, 200, 206, 0.5);
}

.field-header-search:focus {
  border: 1px solid rgba(34, 200, 206, 0.5);
}

.search-field form:hover .submit-header-search {
  background-color: var(--lightBlue) !important;
}

.submit-header-search:hover {
  background-color: var(--lightBlue);
}

.search-field form:hover .field-header-search {
  border: 1px solid rgba(34, 200, 206, 0.5) !important;
}

/* ------------ */

.show {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

::selection {
  background-color: rgba(34, 200, 206, 0.175);
  opacity: 40%;
  color: var(--darkBlue);
}

.container {
  width: 100%;
  max-width: 1519.59px;

  margin: 0 auto;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  font-family: "SemiBold";
}

/* header css */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.logo-header {
  width: 150px;
  cursor: pointer;
  padding: 26px;
  transition: all 0.5s ease-in-out;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu-btn {
  background-color: #fff;
  appearance: none;
  border: none;
  font-size: 15px;
  font-weight: 510;
  transition: all 0.4s ease;
}

.menu-btn:hover {
  color: var(--red);
  cursor: pointer;
}

.menu-item {
  padding: 33px 30px;
}

.header-logo {
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-logo {
  background-color: var(--red);
  color: var(--white);
  padding: 38px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* hover jadid ba selector */

.search-logo:hover {
  background-color: var(--lightBlue);
}

.search-logo:hover .gg-search {
  background-color: var(--lightBlue);
  transform: rotate(-270deg);
}

/* ------------------------------------- */

.search-logo:active {
  background-color: var(--darkBlue);
}

.menu-logo {
  background-color: var(--lightBlue);
  color: var(--darkBlue);
  padding: 38px;
  cursor: pointer;
  display: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

/* hover jadid ba selector */

.menu-logo:hover .gg-menu-motion::before {
  box-shadow: 4px -6px 0, 8px -12px 0;
}

.menu-logo:hover {
  background-color: var(--red);
}

/* ------------------------------------- */

.menu-logo:active {
  background-color: var(--darkBlue);
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  flex: 1;
  z-index: 1;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 10px;
}
.background-footer {
  background-color: var(--darkBlue);
}
.footer-logo {
  width: 170px;
  margin-bottom: 10px;
}

.footer-content {
  color: var(--white);
}

.footer-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 10px;
}

.footer-item {
  font-size: 10px;
  color: rgb(175, 175, 175);
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.footer-item:hover {
  color: var(--red);
}

.footer-text {
  color: rgba(214, 214, 214, 0.637);
  font-size: 13px;
  line-height: 20px;
}

/* factor styles */
.factor-head-text {
  font-size: 40px;
  margin: 40px 0;
  font-family: "Nunito";
}

.factor {
  padding-top: 30px;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.factor-box {
  height: 600px;
  background-color: #d3f4f5;
  border-radius: 24px;
  width: 100%;
}

.factor-header-img {
  width: 133px;
}
.factor-header-text {
  margin-left: 30px;
  max-width: 700px;
  font-family: "Nunito";
}
.factor-header-text > p {
  font-size: 20px;
  color: rgba(105, 105, 105, 1);
}
.factor-header-text > span {
  font-size: 15px;
  color: rgba(223, 62, 62, 1);
}
.factor-header-text > h1 {
  font-size: 26px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}
.header-factor {
  display: flex;
  padding: 30px;
  padding-bottom: 0;
  justify-content: space-between;
}
.header-factor > .img-box {
  display: flex;
}
.factor-header-price {
  font-size: 26px;
  font-weight: 700;
}
.between-header-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -75px;
}
.white-circle-left {
  width: 150px;
  background-color: white;
  height: 150px;
  border-radius: 100%;
  margin-left: -110px;
}
.dotted-line {
  border-bottom: 4px dashed rgb(221, 221, 221);
  width: 100%;
}
.white-circle-right {
  width: 150px;
  background-color: white;
  height: 150px;
  border-radius: 100%;
  margin-right: -110px;
}
.factor-body {
  background-image: url(../img/zamin-img.png);
  width: 100%;
  height: 100%;
}
